* {
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
}
body{
    background-image: url(../images/doctor-bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.heading{
    font-size: 30px;
    
}
.main{
    width: 40%;
    margin-left: 100px;
    padding: 0 50px;
    margin-top: 10px;
    box-shadow: 13px 8px 83px -9px rgba(212, 211, 211, 0.77);
}
input[type=text]{
    width: 95%;
    margin: 8px 0;
    padding: 5px;
    font-size: 16px;
    /* border: 1px solid red; */
}
.email{
    width: 100%;
    margin-bottom: 5px;
    /* border: 1px solid red; */
}
input[type=email]{
    position: relative;
    padding: 5px;
    width: 42%;
    font-size: 16px;
    /* top:25px */
}
.email input[type=text]{
    position: relative;
    left: 60px;
    padding: 5px;
    width: 40%;
    font-size: 16px;
}

.gender input[type=date],span{
    position: relative;
    left: 65px;
    padding: 5px;
    width: 40%;
    font-size: 16px;
}
textarea {
    width: 95%;
    padding: 5px;
    font-size: 16px;
    resize: none;
}
input[type=password]{
    margin-top: 10px;
    font-size: 16px;
    padding: 5px;
}
.confirmpass{
    position: relative;
    left: 300px;
    top: -50px;
}

input[type=submit]{
    position: relative;
    top: -20px;
    padding: 10px 50px;
    justify-content: center;
    background: #4BC970;
    border: none;
    font-size: 20px;
    border-radius: 5px;
}
.last-line{
    font-size: 14px;
    text-align: center;
    position: relative;
    right: 280px;

    
}